* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    color: #000000;
    padding: 1.5rem;
    text-align: right;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header p {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1rem;
    cursor: pointer;
}

header p:hover {
    color: #1b6bcd;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

main {
    max-width: 1200px;
    margin: 3rem auto;
    padding: 0 100px;
}

.intro {
    text-align: center;
    margin-bottom: 3rem;
}

.intro h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.intro h3 {
    font-size: 1.2rem;
    font-weight: normal;
}

.about-me {
    margin-bottom: 10rem;
    padding: 0 1.5rem 0 1.5rem;
}

.about-me h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight:bold;
    border-bottom: 1.5px solid #1b6bcdc3;
    padding-bottom: 0.5rem;
}

.about-me p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}


@media (max-width: 768px) {
    header{
        text-align: center;
    }

    header p {
        margin: 0 0.8rem;
        font-size: 0.8rem;
    }

    main {
        padding: 0 2.5rem;
    }
}